<section id="container-contact">
    <div class="title-what">Contact us</div>
    <div class="sub-container-contact">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="box-contact">
                    <div class="sub-title-contact">Get in touch</div>
                    <form role="form">
                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" class="form-control input-lg" required="">
                        </div>
                        <div class="form-group">
                            <label>Email Address</label>
                            <input type="email" class="form-control input-lg" required="">
                        </div>
                        <div class="form-group">
                            <label>Your Messagge</label>
                            <textarea class="form-control" required=""></textarea>
                        </div>
                        <div class="form-group">
                            <div class="captcha">
                                <div class="g-recaptcha" data-sitekey="6LdtfT8UAAAAADX666MSx78Y_cpTmzTGchZCHMK0"></div>
                            </div>
                        </div>
                        <div class="col-md-6 col-md-offset-4">
                            <div class="btn-center">
                                <button type="submit" class="btn-enviar">SEND</button>
                                <div class="img-plane-contact"></div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="box-contact">
                    <div class="sub-title-contact">For claims</div>
                    <div class="dir-contact">
                        <p class="cont">+44 (0) 207 438 2011</p>
                    </div>
                    <div class="sub-title-contact">For general inquiry</div>
                    <div class="dir-contact">
                        <p class="cont">contact@rightsair.com</p>
                        <p class="cont">+44 (0) 207 438 2011</p>
                        <p class="cont">Suite 117.8 Shepherd Market. London W1J 7JY. England</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>