<section id="container-corporate"></section>
<section id="container-services">
    <div class="sombra"></div>
    <div class="sub-container-gen">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="box-corporate">
                    <div class="title-corporate">Corporate</div>
                    <div class="box-lista-large">
                        <ul class="ul-lista-large">
                            <li><a>Monitor delays and cancellation for all your organisation.</a></li>
                            <li><a>Increase your revenue by Identifying flight eligible to compensation.</a></li>
                            <li><a>Dedicated Claim Management service.</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="box-corporate">
                    <div class="title-corporate">Travel professionals</div>
                    <div class="box-lista-large">
                        <ul class="ul-lista-large">
                            <li><a>Reinforce your customer relationship.</a></li>
                            <li><a>Dedicated Claim management Service.</a></li>
                            <li><a>Avoid situation on conflict with your customers and travel provider.</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="more-info">
            <div class="text-center">
                <div class="title-more-info">For more information about our services</div>
                <div class="btn-mar-more">
                    <a href="~/Home/Contact" class="boton-more-info">CONTACT US</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="container-white">
    <div class="sub-container-gen">
        <div class="title-services">We can provide the following range of services</div>
        <div class="row">
            <div class="box-service">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="row">
                        <div class="box-mar-services">
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                <div class="icon-service"><div class="icon-1"></div></div>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                <div class="content-service">Advanced Statistical Analysis.</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="box-mar-services">
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                <div class="icon-service"><div class="icon-3"></div></div>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                <div class="content-service">
                                    Delays & Cancellations
                                    Monitoring.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="row">
                        <div class="box-mar-services">
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                <div class="icon-service"><div class="icon-2"></div></div>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                <div class="content-service">Dedicated Claims Management.</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="box-mar-services">
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                <div class="icon-service"><div class="icon-4"></div></div>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                <div class="content-service">
                                    Dedicated Flights Compensation
                                    Specialist.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</section>