<section id="container-portada">
    <div id="texto-portada">
        <div class="title-portada">GET PAY WHEN YOUR FLIGTH IS DELAYED</div>
        <div class="legend-portada">You can get up to €600 when your flight is delayed, cancelled or overbooked.</div>
    </div>
    <div id="elemento-portada">
        <div class="text-center">
            <div class="btnm-por">
                <a href="" class="boton-portada">CHECK YOUR FLIGHT</a>
            </div>
            <div class="legend-boton">It only takes 3 minutes</div>
        </div>
    </div>
</section>
<div class="sombra"></div>
<section id="container-works">
    <div class="title-works">How it works</div>
    <div class="sub-container-works marketing">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="recuadro">
                    <div class="img-icon"><img src="img/icon-flight.png"></div>
                    <div class="sub-title-works">Enter you flight details</div>
                    <div class="p-desc">
                        <p>It's quick easy. Check to see if you're eligible <span> in less than 3 minutes.</span></p>
                    </div>
                </div>
            </div>
            <div class="line line1"></div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="recuadro ">
                    <div class="img-icon"><img src="img/icon-Instruct.png"></div>
                    <div class="sub-title-works">Instruct us</div>
                    <div class="p-desc">
                        <p>We will issue correspondence and communicate with the airline on your behalf.</p>
                    </div>
                </div>
            </div>
            <div class="line line2"></div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="recuadro">
                    <div class="img-icon"><img src="img/icon-wait.png"></div>
                    <div class="sub-title-works">Wait and Relax!</div>
                    <div class="p-desc">
                        <p>Nothing left for you to do. <br>We will update you on progress and transfer the money to your bank account minus our fees.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="container-gray">
    <div class="title-what">What we do</div>
    <div class="sub-container-what">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="box-what">
                    <ul class="ul-rights">
                        <li><a>Calculate your compensation</a></li>
                        <li><a>Review weather forecast</a></li>
                        <li><a>Review flight data</a></li>
                        <li><a>Issue claim letter to the airline</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="box-what">
                    <ul class="ul-rights">
                        <li><a>Liaison with airline</a></li>
                        <li><a>Aviation expert support</a></li>
                        <li><a>Telephone assistance</a></li>
                        <li><a>No win, no fee</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="container-customer">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
            <li data-target="#myCarousel" data-slide-to="4"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="title-customer">Customer Reviews</div>
            <div class="item active">
                <div class="container2">
                    <div class="sub-container-comment">
                        <div class="corchete-abre"></div>
                        <div class="comment">
                            <p>
                                Very professional. I did not have time. RightsAir did it for me and the process

                                was easy.
                            </p>
                            <div class="autor">David Miclo</div>
                        </div>
                        <div class="corchete-cierra"></div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="container2">
                    <div class="sub-container-comment">
                        <div class="corchete-abre"></div>
                        <div class="comment">
                            <p>
                                Great Services very professional got my flight compensation in less than 2

                                months.
                            </p>
                            <div class="autor">J Nacer Jaziri</div>
                        </div>
                        <div class="corchete-cierra"></div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="container2">
                    <div class="sub-container-comment">
                        <div class="corchete-abre"></div>
                        <div class="comment">
                            <p>Excellent service from start to finish.</p>
                            <div class="autor">Thank you Julien and Natalia Artero</div>
                        </div>
                        <div class="corchete-cierra"></div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="container2">
                    <div class="sub-container-comment">
                        <div class="corchete-abre"></div>
                        <div class="comment">
                            <p>Excellent service du début jusqu’à la fin. Merci beaucoup.</p>
                            <div class="autor">Tania Zegos</div>
                        </div>
                        <div class="corchete-cierra"></div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="container2">
                    <div class="sub-container-comment">
                        <div class="corchete-abre"></div>
                        <div class="comment">
                            <p>Very quick and reliable service. I strongly recommend.</p>
                            <div class="autor">Chiara Cotelli</div>
                        </div>
                        <div class="corchete-cierra"></div>
                    </div>
                </div>
            </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        </a>
    </div>
</section>
<div class="sombra"></div>
<section id="container-questions">
    <div class="sub-container-questions">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="box-lista-small">
                    <div class="title-questions">Why RightsAir?</div>
                    <ul class="ul-lista-small">
                        <li><a>We have extensive experience in the Aviation sector.</a></li>
                        <li><a>We are specialists in flight compensation claim.</a></li>
                        <li><a>We do not charge any money upfront - <span>no administration fee.</span> It's strictly no win no fee and <span>we charge only 25% commission.</span></a></li>
                        <li><a>We will only represent you if we believe you have reasonable grounds for successful flight compensation.</a></li>
                        <li><a>We aim to make the compensation recovery process fast and easy towards a swift settlement.</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="box-lista-small">
                    <div class="title-questions">What to remember about your rights</div>
                    <ul class="ul-lista-small">
                        <li><a>You can claim for flight delayed for the past six years.</a></li>
                        <li><a>You MUST arrived  more   than 3  hours  late.</a></li>
                        <li><a>Always   remember  that  you  are   eligible  to  claim for flight compensation  under EU   Law as  far as your  flight  departs  from an EU  airpot and  lands at a non EU airport, regardless of  the nationality  of  the  airline OR when your  flight  is  carried by an EU airline and lands at an EU airport.</a></li>
                        <li><a>The compensation amount is  fixed per passenger and it is based solely on delay (calculated  at arrival) and journey length.</a></li>
                        <li><a>It must be the airline's fault.</a></li>
                        <li><a>You are entitled to cash.</a></li>
                        <li><a>Keep your booking flight references.</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="container-claim">
    <div class="text-center">
        <div class="btn-margin">
            <a href="#" class="boton-claim">START YOUR CLAIM</a>
        </div>
    </div>
    </section>