<section id="container-airplane"></section>
<section id="container-regulation">
    <div class="sombra"></div>
    <div class="title-works">Your Rights</div>
    <div class="subtitle-your">The Law under EU legislation</div>
    <div class="sub-container-regulation">
        <div class="row">
            <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                <div class="box-regulation">
                    <div class="title-black">EU Regulation EC261/2004</div>
                    <div class="box-lista-large">
                        <ul class="ul-lista-large">
                            <li>
                                <a>
                                    Whether Air passengers purchase they airfare directly from the airline or via a travel agent they have rights.
                                </a>
                            </li>
                            <li><a>The purpose of the EU regulation and recent courts decisions are to improve passenger’s rights across Europe. </a></li>
                            <li>
                                <a>
                                    EU regulation EC261/2004 dated 11 February 2004, governs passengers rights in air transport.
                                </a>
                            </li>
                            <li><a>Please be advised that under the EU regulation  all airlines are obliged to inform passengers about their rights and provide them with care and assistance when their flights are either delayed for three (3) hours or more, cancelled or overbooked.</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                <div id="box-img-regulation" class="animated fadeInRight"></div>
            </div>
        </div>
    </div>
</section>
<section id="container-gray">
    <div class="sub-container-gen">
        <div class="title-black">When am I entitled to claim for compensation?</div>
        <p class="text gray">The EU regulation applies to:</p>
        <div class="box-comp">
            <ul class="ul-rights">
                <li><a>Air passengers departing from an EU airport;</a></li>
                <li><a>Air passengers travelling with an EU airline that lands at an EU airport;</a></li>
            </ul>
        </div>
        <p class="text gray">
            The compensation amount is defined under EU regulation EC261/2004 and is fixed per passenger. The amount of compensation is based solely on delay (calculated at arrival) and journey length.
            <br>
            EU regulation EC261/2004 provide a mechanism of compensation to help air passengers when their flights are overbooked, cancelled or delayed for three (3) hours or more.
        </p>
    </div>
</section>
<section id="container-white">
    <div class="sub-container-gen">
        <div class="title-black">How much am I entitled to claim for?</div>
        <p class="text gray">Depending on situations and problems encountered by air passengers, the airline is required to indemnify them as follow:</p>
        <p class="text">Fixed financial compensation based on delay and journey lengh</p>
        <div id="table-entitled" class="animated fadeIn">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Journey Length</th>
                            <th>Flight destination within EU</th>
                            <th>Compensation Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Up to 1,500km</td>
                            <td>3 hours or more</td>
                            <td>€250</td>
                        </tr>
                        <tr>
                            <td>1,500km-3,500km</td>
                            <td>3 hours or more</td>
                            <td>€400</td>
                        </tr>
                        <tr>
                            <td>Over 3,500km</td>
                            <td>Between 2 EU Member States & 3 hours or more</td>
                            <td>€400</td>
                        </tr>
                        <tr>
                            <td>Over 3,500km</td>
                            <td>3 hours or more</td>
                            <td>€300</td>
                        </tr>
                        <tr>
                            <td>Over 3,500km</td>
                            <td>3-4 hours</td>
                            <td>€600</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<section id="container-gray">
    <div class="sub-container-gen">
        <div class="title-black">What else am I entitled to?</div>
        <p class="text gray">Air passengers are entitled to receive care and assistance from the airline in the event of delays, cancellation or overbooking. This should include:</p>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="box-entitled">
                    <ul class="ul-rights">
                        <li><a>Free refreshments</a></li>
                        <li><a>Food and drinks</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="box-entitled">
                    <ul class="ul-rights">
                        <li><a>In some case hotel accommodation</a></li>
                        <li><a>Two free phone calls, emails.</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                <p class="text gray">Air passengers are also entitled to claim for:</p>
                <div class="box-lista-large">
                    <ul class="ul-lista-large">
                        <li>
                            <a>
                                Reimbursement of airfare within 7 days for the part of the journey not completed and for those effected but irrelevant as regard the initial trip planned, or
                            </a>
                        </li>
                        <li><a>Alternative solution towards the final destination within similar transport conditions as initially planned.cancelled or overbooked.</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                <div id="box-img-family" class="animated fadeIn"></div>
            </div>
        </div>
    </div>
</section>
<section id="container-claim2">
    <div class="text-center">
        <div class="btn2-margin">
            <a href="#" class="boton-claim2">START YOUR CLAIM</a>
        </div>
    </div>
</section>
